@import '../../../styles/variables';

.user-icon-panel {
    text-align: center;
    padding-bottom: 18px;
    .user-icon {
        display: inline-block;
        width: 73px;
        height: 73px;
        background-color: rgba(3, 78, 162, 0.1);
        border-radius: 100%;
        text-align: center;
        line-height: 72px;
        margin: 20px 0 6px;
        img {
            display: inline-block;
            width: 46px;
        }
    }
    .txt-area {
        .number {
            color: #034ea2;
            font-size: 31px;
            font-weight: 700;
            line-height: 32px;
        }
        .txt {
            color: $grayColor;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}